<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Theaters</title>
</head>
<body>
<h1>List of Theaters</h1>
<ul>
    {% for theater in theaters %}
        <li>
            <a href="{% url 'theater_detail' theater.pk %}">{{ theater.name }}</a>
            <form method="get" action="{% url 'theater_delete' theater.pk %}" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'theater_create' %}">Add a new theater</a>
<br>
<a href="{% url 'home' %}"> Return to Home</a>
</body>
</html>

